<?xml version="1.0"?>
<!--
/**
 * Custom Options Fix Module
 * Copyright (c) 2024 Private DevOps LTD. All rights reserved.
 * https://privatedevops.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <catalog>
            <customoptions>
                <pagesize>200</pagesize>
            </customoptions>
        </catalog>
    </default>
</config>
